#ext_menu-0 .navbar-toggler {
  color: #000;
}
#content5-a .mbr-section-title {
  text-align: center;
}
#header3-d H3 {
  text-align: center;
}
#msg-box5-h .lead P {
  text-align: left;
  font-size: 16px;
}
#msg-box4-i .lead DIV {
  text-align: right;
  font-size: 16px;
}
#msg-box4-i .lead {
  text-align: right;
}
